$Primary: #002025;
$Lighter: #00494F;
$Darker: #001112;
$Complementary: #250200;
$Analogous: #002525;
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: transparent !important;
}

